<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:with="queryString=${#request.queryString != null ? #request.queryString.startsWith('lang=') ? #request.queryString.replaceFirst('lang=.*', '') : #request.queryString.replaceFirst('&lang=.*', '') : ''}"
          th:fragment="addLangToUrl(url, displayLang, lang, force)">
    <a th:with="queryParams=${#strings.concat(queryString, queryString == '' ? 'lang=' : '&lang=')}"
       th:href="${url} + '?' + ${queryParams} + ${lang}" th:lang=${lang} rel="alternate" class="govuk-link">
        <span aria-hidden="true" data-th-text=${displayLang}></span>
    </a>
</th:block>
</html>