<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="govuk-template">
    <th:block th:fragment="localesBanner">
        <div class="govuk-width-container ">
            <div class="govuk-grid-column-full no-padd">
                <nav class="govuk-language-select" aria-label="Language switcher">
                    <ul class="govuk-language-select__list">
                        <li class="govuk-language-select__list-item">
                            <div th:replace="locales/addLangToUrl :: addLangToUrl(${#httpServletRequest.requestURI}, #{label.lang.en}, 'en', true)"></div>
                            <div th:replace="locales/addLangToUrl :: addLangToUrl(${#httpServletRequest.requestURI}, #{label.lang.fr}, 'fr', true)"></div>
                            <div th:replace="locales/addLangToUrl :: addLangToUrl(${#httpServletRequest.requestURI}, #{label.lang.de}, 'de', true)"></div>
                            <div th:replace="locales/addLangToUrl :: addLangToUrl(${#httpServletRequest.requestURI}, #{label.lang.wl}, 'wl', true)"></div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </th:block>
</html>