<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout}">

<head>
  <title th:text="#{company.number.title}"></title>
</head>

<body>
<div id="main-content" layout:fragment="content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form id="lookup-form" th:action="@{''}" th:object="${companyLookup}" class="form" method="post">

        <div th:replace="fragments/errors :: errors"></div>

        <div class="govuk-form-group"
             th:classappend="${#fields.hasErrors('companyNumber')} ? 'govuk-form-group--error' : ''">

          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="company-number" th:text="#{company.number.title}">
            </label>
          </h1>

          <div id="company-lookup-hint" class="govuk-hint" th:text="#{company.enter.number}">
          </div>

          <p id="company-lookup-error" class="govuk-error-message">
                <span th:if="${#fields.hasErrors('companyNumber')}" th:each="e : ${#fields.errors('companyNumber')}"
                      th:text="${e}">
                </span>
          </p>

          <input class="govuk-input govuk-input--width-10" id="company-number" name="company-number"
                 type="text"
                 aria-describedby="company-lookup-hint company-lookup-error" th:field="*{companyNumber}"
                 th:errorclass="govuk-input--error">
        </div>
          <div class="govuk-inset-text" th:utext="#{company.enter.number.info}">
        </div>

        <details class="govuk-details" role="group">
          <summary class="govuk-details__summary" role="button" aria-controls="company-number-help-text"
                   aria-expanded="false">
                <span id="company-number-help-text-link" class="govuk-details__summary-text" th:text="#{company.how.find.number}">
                </span>
          </summary>
          <div class="govuk-details__text" id="company-number-help-text" th:utext="#{company.answer.find.number}">
          </div>
        </details>

        <input id="next-button" class="govuk-button" type="submit" role="button" th:value="#{company.continue}"/>

        <div th:if="${noCompanyOption}" class="govuk-body">
          <a class="govuk-link govuk-link--no-visited-state"
             th:href="@{/company-lookup/no-number(forward=${#request.getParameter('forward')})}"
             th:text="#{lack.company.number}">I don't have a company number</a>
        </div>

      </form>
    </div>
  </div>
</div>
</body>
</html>
