<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout}">

<head>
  <title>Confirm company details</title>
</head>
<body>
<div id="lookup-main-content" layout:fragment="content">

  <form id="lookup-form" th:action="@{''}" th:object="${companyDetail}" class="form" method="post">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        <fieldset class="govuk-fieldset">

          <label class="govuk-label govuk-label--l">
            Confirm company details
          </label>
          <dl class="app-check-your-answers app-check-your-answers--short">
            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
                Company name
              </dt>
              <dd class="app-check-your-answers__answer"  id="companyDetail-companyName"
                   th:utext="*{#strings.replace(companyName,'&#10;','&lt;br&gt;')}">
              </dd>
              <input th:field="*{companyName}" type="hidden">
            </div>

            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
                Company number
              </dt>
              <dd class="app-check-your-answers__answer" id="companyDetail-companyNumber"
                   th:utext="*{#strings.replace(companyNumber,'&#10;','&lt;br&gt;')}">
              </dd>
              <input th:field="*{companyNumber}" type="hidden">
            </div>

            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
                Registered office address
              </dt>
              <dd class="app-check-your-answers__answer" id="companyDetail-registeredOfficeAddress"
                   th:utext="*{#strings.replace(registeredOfficeAddress,'&#10;','&lt;br&gt;')}">
              </dd>
              <input th:field="*{registeredOfficeAddress}" type="hidden">
            </div>

            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
                Next accounts made up to
              </dt>
              <dd class="app-check-your-answers__answer" id="companyDetail-accountsNextMadeUpTo"
                   th:utext="*{#strings.replace(accountsNextMadeUpTo,'&#10;','&lt;br&gt;')}">
              </dd>
              <input th:field="*{accountsNextMadeUpTo}" type="hidden">
            </div>
            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
                Last accounts made up to
              </dt>
              <dd class="app-check-your-answers__answer" id="companyDetail-lastAccountsNextMadeUpTo"
                   th:utext="*{#strings.replace(lastAccountsNextMadeUpTo,'&#10;','&lt;br&gt;')}">
              </dd>
              <input th:field="*{lastAccountsNextMadeUpTo}" type="hidden">
            </div>
          </dl>
        </fieldset>
        <input id="next-button" class="govuk-button" type="submit" role="button" value="Continue"/>

      </div>
    </div>
  </form>

</div>
</body>
</html>